@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form-label {
    @apply text-gray-700;
  }

  .form-control {
    @apply mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50
  }

  .btn {
    @apply rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 cursor-pointer;
  }

  .btn-critical {
    @apply bg-red-600 hover:bg-red-500;
  }
}
