<% content_for :title, "Editing brand" %>

<h1>Editing brand</h1>

<%= render "form", brand: @brand %>

<br>

<div>
  <%= link_to "Destroy", brand_path(@brand), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %> |
  <%= link_to "Back to brands", brands_path %>
</div>
