<p style="color: green"><%= notice %></p>

<% content_for :title, "Brands" %>

<%= render "table/table",
  fields: [
    {field: "name", title: "Name"},
    {field: "website_url", title: "URL"},
    {lambda: proc { |brand| link_to "View", edit_brand_path(brand) }, title: ""}
  ], 
  models: @brands
%>

<%= link_to "New brand", new_brand_path %>
